<!-- Create a HTML page containing the name Aurélien Quillet in bold and italics in the middle of the page.
The navigation bar should be on top with a link toward this page at the top left and a link to my linkedin at the top right. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aurelien Quillet</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5.0.0.0.0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <script src="script.js"></script>
</head>
<body>
    <h1>Aurelien Quillet</h1>
    <div class="container">
        <div class="navigation">
            <div class="navigation-left">
                <a href="index.html">
                    <img src="images/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="navigation-right">
                <a href="https://linkedin.com/in/aurelien-quillet-b8b5b2b9">
                    <img src="images/linkedin.png" alt=" " src=" " title=" " /> 
                </a>
                <a href="https://github.com/quillaur">
                    <img src="images/github.png" alt=" " src=" " title=" " /> 
                </a>
            </div>
        </div>
    </div>
</body>
</html>
