<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aurelien Quillet</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5.0.0.0.0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <script src="script.js"></script>
</head>
<body>
    {% load static %}
    <!-- Navigation bar -->
    <nav>
        <!-- Link towards the page itself on the left -->
        <a href="#">Home</a>
        <button>
            <a href="https://www.linkedin.com/in/aur%C3%A9lien-quillet-346102193/" target="_blank">LinkedIn</a>
        </button>
    </nav>

    <a href="https://github.com/quillaur" target="_blank">GitHub</a>

    <h1>Aurelien Quillet</h1>
    
    <!-- <div class="container">
        <div class="navigation">
            <div class="navigation-left">
                <a href="index.html">
                    My profile
                </a>
            </div>
            <div class="navigation-right">
                <a href="https://linkedin.com/in/aurelien-quillet-b8b5b2b9">
                    <img src="{% static 'images/lindedin.png' %}" alt=" " src=" " title=" " /> 
                </a>
                <a href="https://github.com/quillaur">
                    <img src="{% static 'images/GitHub-Mark.png' %}" alt=" " src=" " title=" " /> 
                </a>
            </div>
        </div>
    </div> -->
</body>
</html>
